@import '~@angular/material/theming';
@include mat-core();
$GestionPracticas-primary: mat-palette($mat-blue-grey, 800);
$GestionPracticas-accent: mat-palette($mat-blue-grey, 800);
$GestionPracticas-warn: mat-palette($mat-red, 900);
$GestionPracticas-theme: mat-light-theme(( color: ( primary: $GestionPracticas-primary, accent: $GestionPracticas-accent, warn: $GestionPracticas-warn, )));
@include angular-material-theme($GestionPracticas-theme);
$custom-typography: mat-typography-config( $font-family: 'Montserrat');
@include angular-material-typography($custom-typography);


/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    padding: 5px;
}
/* Track */
::-webkit-scrollbar-track {
background: #b3b2b281;
width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(29, 29, 29, 0.605); 
border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}