<div class="contenido">
    <mat-card-title class="titulo">Ha seleccionado agregar plan de estudio para [Carrera]</mat-card-title>
    
    <br />
    
    <mat-form-field appearance="outline" class="form-editable">
        <mat-label>Plan de estudio</mat-label>
        <input matInput class="input" placeholder="Ejemplo: 1">
    </mat-form-field>
    
    <button mat-raised-button class='boton-eliminar boton' mat-dialog-close>Cancelar</button>
    <button mat-raised-button class='boton' color='primary' mat-dialog-close>Confirmar</button>
    
</div>
