.justificar
{
    margin-top: 3vh;
    justify-content: center;
    text-align: center;
    
}

.input
{
    width: 100vh;
}

h2,h3
{
    font-weight: bolder;
}

.form-editable
{
    padding-inline-end: 2vh;
}

button
{
    padding-left: 3vh;
    padding-right: 3vh;

    margin-left: 1vh;
    margin-right: 1vh;
}

.listas
{
    display: inline-block;
}

.elementos
{
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: red;
}

div
{
    margin-top: 3vh;
    margin-bottom:5vh
}