<mat-card>
    <mat-card-title> {{carrera.nombreCarrera}}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formulario1">
            <div>
                <h2>Cantidad de prácticantes activos: <b>100</b></h2>
            </div>
            <div>
                <h2>Encargado de carrera</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del encargado de carrera</mat-label>
                    <input matInput class="input" formControlName="nombreEncargado" placeholder="Nombre y apellido del encargado de carrera">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo del encargado de carrera</mat-label>
                    <input matInput class="input" formControlName="CorreoEncargado" placeholder="usuario@sitio.cl">
                </mat-form-field>
                <div class="step-buttons">
                    <button color="primary" mat-raised-button (click)="updateFormulario()">Modificar</button>
                </div>
            </div>
            <div *ngIf="this.carrera.planEstudio?.length! <= 0" class="text-center">
                <h2>No existen planes de carreras</h2>
            </div>

            <div>
                <h2>Crear plan de carrera</h2>
                <form [formGroup]="formularioPlanCarrera">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del plan</mat-label>
                        <input matInput class="input" formControlName="nombrePlan" placeholder="Nombre del plan de la carrera">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad de practicas</mat-label>
                        <input matInput class="input" formControlName="cantidadPracticas" placeholder="cantidad de practicas">
                        <mat-error *ngIf="formularioPlanCarrera.controls.cantidadPracticas.hasError('required') && !formularioPlanCarrera.controls.cantidadPracticas.hasError('pattern')"> 
                            Campo obligatorio. 
                        </mat-error>
                        <mat-error *ngIf="!formularioPlanCarrera.controls.cantidadPracticas.hasError('required') && formularioPlanCarrera.controls.cantidadPracticas.hasError('pattern')"> 
                            Cantidad de prácticas debe ser un número entre 1 y 9.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>requisitos</mat-label>
                        <textarea matInput formControlName="requisitos" placeholder="requisitos de la carrera para las practicas"></textarea>
                        <mat-error *ngIf="formularioPlanCarrera.controls.requisitos.hasError('required') && !formularioPlanCarrera.controls.requisitos.hasError('pattern')">
                            Campo obligatorio
                        </mat-error>
                        <mat-error *ngIf="!formularioPlanCarrera.controls.requisitos.hasError('required') && formularioPlanCarrera.controls.requisitos.hasError('pattern')">
                            Se empieza con mayúscula. Si se desea se puede incluír guión. Se debe terminar con punto. 
                            <p>Ejemplo: Ésta es una prueba.</p>
                            Ejemplo 2: - Ésta es una prueba.
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <br />
                    <br />
                    <div class="step-buttons">
                        <button color="primary" mat-raised-button (click)="agregarPlanEstudio()">agregar plan</button>
                    </div>
                </form>
            </div>


            <div class="step-buttons">
                <button color="primary" mat-raised-button (click)="volver()">volver</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>