<mat-card>
    <mat-card-title>
        Gestión de archivos informativos
    </mat-card-title>
    <mat-card-content>
        <ng-template appDynamicHost></ng-template>
        <div class="step-buttons">
            <button mat-raised-button color="primary" (click)="createComponent()">Subir archivo informativo</button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Gestión de formularios
    </mat-card-title>
    <mat-card-content>
        <ng-template appDynamicHostForm></ng-template>
        <div class="step-buttons">
            <button mat-raised-button color="primary" (click)="upLoadForm()">Subir formulario</button>
        </div>
    </mat-card-content>
</mat-card>