<div class="add-steps">
	<mat-icon class="add-step">add_circle_outline</mat-icon>
	<h1>Agregar etapas</h1>
	<mat-icon class="add-step">add_circle_outline</mat-icon>
</div>
<mat-horizontal-stepper #stepper id="parent-stepper">
	<mat-step [stepControl]="firstFormGroup" errorMessage="Debes solicitar tu práctica">
		<ng-template matStepLabel>
			<div class="edit">
				<p>Solicitud de la práctica</p>
				<mat-icon class="delete">highlight_off</mat-icon>
			</div>
		</ng-template>
		<form [formGroup]="firstFormGroup">
			<div>
				<mat-horizontal-stepper #stepper>
					<mat-step [stepControl]="primeraEtapa" errorMessage="Completa los datos obligatorios restantes">
						<ng-template matStepLabel>
							<div class="edit">
								<p>Datos del estudiante</p>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
						</ng-template>
						<form [formGroup]="primeraEtapa">
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Nombres</mat-label>
									<input matInput placeholder="Primer y segundo nombre" formControlName="Nombres">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Apellidos</mat-label>
									<input matInput placeholder="Apellido paterno y materno" formControlName="Apellidos">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Carrera</mat-label>
									<input matInput placeholder="Ingeniería Civil en..." formControlName="Carrera">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Número de matrícula</mat-label>
									<input matInput placeholder="2014407000" formControlName="NumeroMatricula">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>RUT</mat-label>
									<input matInput placeholder="RUT" formControlName="Run">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Número de contacto</mat-label>
									<input matInput placeholder="+56912345678" formControlName="NumeroContacto">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Correo Electrónico</mat-label>
									<input matInput placeholder="usuario@utalca.cl" formControlName="CorreoElectronico">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="edit">
								<h3>Contacto de emergencia</h3>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Nombre y apellido</mat-label>
									<input matInput placeholder="Nombre y apellido del contacto de emergencia" formControlName="ContactoEmergencia">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Teléfono</mat-label>
									<input matInput placeholder="+56912345678" formControlName="TelefonoEmergencia">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<mat-divider></mat-divider>
							<div class="step-button">
								<button mat-raised-button matStepperNext color="primary" type="button">Siguente</button>
							</div>
						</form>
					</mat-step>
					<mat-step [stepControl]="segundaEtapa" errorMessage="Completa los datos obligatorios restantes">
						<ng-template matStepLabel>
							<div class="edit">
								<p>Datos de la empresa</p>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
						</ng-template>
						<form [formGroup]="segundaEtapa">
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Nombre</mat-label>
									<input matInput placeholder="Nombre de la empresa" formControlName="Nombre">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>RUT</mat-label>
									<input matInput placeholder="RUT de la empresa" formControlName="Rut">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Teléfono</mat-label>
									<input matInput placeholder="Número de teléfono de la empresa" formControlName="NumeroTelefono">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Correo Electrónico</mat-label>
									<input matInput placeholder="usuario@utalca.cl" formControlName="CorreoElectronico">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Dirección</mat-label>
									<input matInput placeholder="Dirección de la empresa" formControlName="Direccion">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<mat-divider></mat-divider>
							<div class="step-buttons">
								<button mat-raised-button matStepperPrevious color="primary" type="button">Atrás</button>
								<button mat-raised-button matStepperNext color="primary" type="button">Siguente</button>
							</div>
						</form>
					</mat-step>
					<mat-step [stepControl]="terseraEtapa" errorMessage="Completa los datos obligatorios restantes">
						<ng-template matStepLabel>
							<div class="edit">
								<p>Datos del tutor</p>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
						</ng-template>
						<form [formGroup]="terseraEtapa">
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Nombres</mat-label>
									<input matInput placeholder="Primer y segundo nombre del tutor" formControlName="Nombres">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Apellidos</mat-label>
									<input matInput placeholder="Apellido paterno y materno del tutor" formControlName="Apellidos">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>RUT</mat-label>
									<input matInput placeholder="RUn" formControlName="Run">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Area/Departamento</mat-label>
									<input matInput placeholder="Departamento o área del tutor" formControlName="AreaDepto">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="edit">
								<h3>Área o departamento donde se desempeña el tutor o encargado directo</h3>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Puesto</mat-label>
									<input matInput placeholder="Puesto del tutor" formControlName="Puesto">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>N° contacto</mat-label>
									<input matInput placeholder="+56912345678" formControlName="NumeroContacto">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Correo electrónico</mat-label>
									<input matInput placeholder="usuario@utalca.cl" formControlName="CorreoElectronico">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<mat-divider></mat-divider>
							<div class="step-buttons">
								<button mat-raised-button matStepperPrevious color="primary" type="button">Atrás</button>
								<button mat-raised-button matStepperNext color="primary" type="button">Siguente</button>
							</div>
						</form>
					</mat-step>
					<mat-step [stepControl]="cuartaEtapa" errorMessage="Completa los datos obligatorios restantes">
						<ng-template matStepLabel>
							<div class="edit">
								<p>Datos de la práctica</p>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
						</ng-template>
						<form [formGroup]="cuartaEtapa">
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-radio-group>
									<mat-label>Número de la práctica</mat-label><br/>
									<mat-radio-button value="1">Práctica número 1</mat-radio-button>
									<mat-radio-button value="2">Práctica número 2</mat-radio-button>
								</mat-radio-group>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Fecha de inicio</mat-label>
									<input matInput [matDatepicker]="startDate">
									<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
									<mat-datepicker #startDate></mat-datepicker>
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Fecha de término</mat-label>
									<input matInput [matDatepicker]="endDate">
									<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
									<mat-datepicker #endDate></mat-datepicker>
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Hora de inicio de la jornada</mat-label>
									<input matInput formControlName="HoraInicio" type="time">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Hora de término de la jornada</mat-label>
									<input matInput formControlName="HoraFin" type="time">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<mat-form-field appearance="outline">
									<mat-label>Número de horas de la jornada</mat-label>
									<input matInput placeholder="0" formControlName="Jornada" type="number" min="0">
								</mat-form-field>
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="edit">
								<h3>Por favor, suba el archivo que contiene su consentimiento informado para su práctica</h3>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<div class="item-edit">
								<input type="file" placeholder="consentimiento.pdf" formControlName="Archivo">
								<mat-icon class="delete-item">highlight_off</mat-icon>
							</div>
							<div class="add-container">
								<mat-icon class="add-item">add_circle_outline</mat-icon>
							</div>
							<mat-divider></mat-divider>
							<div class="step-buttons">
								<button mat-raised-button matStepperPrevious color="primary" type="button">Atrás</button>
								<button mat-raised-button matStepperNext color="primary" type="button">Siguente</button>
							</div>
						</form>
					</mat-step>
					<mat-step>
						<ng-template matStepLabel>
							<div class="edit">
								<p>Resumen</p>
								<mat-icon class="delete">highlight_off</mat-icon>
							</div>
						</ng-template>
						<div class="add-container">
							<mat-icon class="add-item">add_circle_outline</mat-icon>
						</div>
						<div class="edit">
							<h3>Haga click en el botón <i>Enviar</i> para enviar su formulario</h3>
							<mat-icon class="delete-item">highlight_off</mat-icon>
						</div>
						<div class="add-container">
							<mat-icon class="add-item">add_circle_outline</mat-icon>
						</div>
						<div class="step-buttons">
							<button mat-raised-button matStepperPrevious color="primary" type="button">Atrás</button>
							<button mat-raised-button matStepperNext color="primary" type="button">Enviar</button>
						</div>
					</mat-step>
				</mat-horizontal-stepper>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup" errorMessage="Debes subir tu informe de práctica">
		<ng-template matStepLabel>
			<div class="edit">
				<p>Subir informe de práctica</p>
				<mat-icon class="delete">highlight_off</mat-icon>
			</div>
		</ng-template>
		<form [formGroup]="secondFormGroup">
			<div>
				<h3>Por favor, suba el archivo que contiene su informa de práctica</h3>
				<input type="file" placeholder="consentimiento.pdf">
				<mat-icon class="delete-item">highlight_off</mat-icon>
			</div>
		</form>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>
			<div class="edit">
				<p>Finalización</p>
				<mat-icon class="delete">highlight_off</mat-icon>
			</div>
		</ng-template>
		<div class="edit">
			<h1>¡Felicidades! Has completado tu práctica.</h1>
			<mat-icon class="delete-item">highlight_off</mat-icon>
		</div>
		<div class="edit">
			<mat-icon mat-list-icon>emoji_emotions</mat-icon>
			<mat-icon class="delete-item">highlight_off</mat-icon>
		</div>
	</mat-step>
</mat-horizontal-stepper>