.step-button {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}

.step-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h1 {
	text-align: center;
}

.final-info {
	text-align: center;
}

#smiley {
	color: #FF5722;
	font-size: 100px;
	margin-left: -100px;
}

.delete {
	color: red;
}

#parent-stepper {
	background-color: #FAFAFA !important;
}