<mat-card>
    <mat-card-title>Importar alumnos</mat-card-title>
</mat-card>

<mat-card>
    <mat-card-title>Importar alumnos</mat-card-title>
    <mat-card-content>
        <div class="row text-center">
            <input type="file" multiple="false" (change)="onFileChange($event)" accept=".xlsx, .xls"/>
        </div>
    </mat-card-content>
</mat-card>

<div class="container p-4 bg-light">
    <div class="row text-center mb-2">
        <label> Cuentas creadas </label>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
</div>