<!-- <mat-card>
    <mat-card-title>Crear carrera</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formularioCarrera">
            <div>
                <h2>Datos de la carrera</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput class="input" formControlName="nombreCarrera" placeholder="Ingeniería Civil en...">
                </mat-form-field>
            </div>
            <div>
                <h2>Datos Encargado</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Encargado</mat-label>
                    <input matInput class="inpput" formControlName="nombreEncargado" placeholder="Nombre y apellido del encargado de carrera">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput class="inpput" formControlName="correoEncargado" placeholder="usuario@sitio.cl">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número de teléfono</mat-label>
                    <input matInput class="inpput" formControlName="telefonoEncargado" placeholder="+5612345678">
                </mat-form-field>
            </div>
            <div class="step-buttons">
                <button color="primary" mat-raised-button (click)="crearCarrera()">Crear carrera</button>
                <button color="primary" mat-raised-button (click)="volver()">Volver</button>
            </div>
        </form>
    </mat-card-content>
</mat-card> -->



<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="formularioCarrera" label="Carrera">
        <form [formGroup]="formularioCarrera">
            <mat-form-field appearance="fill">
                <mat-label>Nombre de carrera</mat-label>
                <input matInput class="input" formControlName="nombreCarrera" placeholder="Ingeniería Civil en...">
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente paso</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formularioCarrera" label="Encargado">
        <form [formGroup]="formularioCarrera">
            <mat-form-field appearance="outline">
                <mat-label>Nombre Encargado</mat-label>
                <input matInput class="inpput" formControlName="nombreEncargado" placeholder="Nombre y apellido del encargado de carrera">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput class="inpput" formControlName="correoEncargado" placeholder="usuario@sitio.cl">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Número de teléfono</mat-label>
                <input matInput class="inpput" formControlName="telefonoEncargado" placeholder="+5612345678">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Paso anterior</button>
                <button mat-button matStepperNext>Paso siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="formularioPlan" label="Plan">
        <form [formGroup]="formularioPlan">
            <mat-form-field appearance="outline">
                <mat-label>Nombre del plan de estudio</mat-label>
                <input matInput class="inpput" formControlName="nombrePlan" placeholder="16">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cantidad de practicas</mat-label>
                <mat-select formcontrolName="cantidadPracticas">
                    <mat-option value="1">una practica</mat-option>
                    <mat-option value="2">dos practicas</mat-option>
                    <mat-option value="3">tres practicas</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Requisitos de las practicas</mat-label>
                <input matInput class="inpput" formControlName="requisitos" placeholder="requisitos generales de las practicas">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Paso anterior</button>
                <button mat-button matStepperNext>Paso siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Termino</ng-template>
        <p>Resumen de la carrera creada</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
