<h1>Seleccione el tipo de cuenta a crear</h1>
<div>
	<mat-card routerLink="./admin-general/crear-cuenta/estudiante">
		<mat-card-content>
			<mat-icon mat-list-icon>account_circle</mat-icon>
			<h2>Estudiante</h2>
		</mat-card-content>
	</mat-card>
	<mat-card routerLink="./admin-general/crear-cuenta/encargado-carrera">
		<mat-card-content>
			<mat-icon mat-list-icon>account_circle</mat-icon>
			<h2>Encargado de carrera</h2>
		</mat-card-content>
	</mat-card>
	<mat-card routerLink="./admin-general/crear-cuenta/admin-general">
		<mat-card-content>
			<mat-icon mat-list-icon>account_circle</mat-icon>
			<h2>Administrador general</h2>
		</mat-card-content>
	</mat-card>
</div>