<div>
    <mat-card>
        <mat-card-title>Creación de cuenta</mat-card-title>
        <mat-card-content>
            <h2>Seleccione el tipo de cuenta que desee crear</h2>
            <button routerLink="/crear-cuenta/estudiante" (click)="goToEstudiante()">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h2>Estudiante</h2>
            </button>
            <button routerLink="/crear-cuenta/encargado-carrera" (click)="goToEncargado()">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h2>Encargado de carrera</h2>
            </button>
            <button routerLink="/crear-cuenta/admin-general" (click)="goToAdminGeneral()">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h2>Administrador general</h2>
            </button>
        </mat-card-content>
    </mat-card>
</div>