<form [formGroup]="datosSolicitudPractica">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder=" Nombres " formControlName="Nombres" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Apellidos</mat-label>
    <input matInput placeholder=" Apellidos " formControlName="Apellidos" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>RUN</mat-label>
    <input matInput placeholder="RUN estudiante" formControlName="Run" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Carrera</mat-label>
    <mat-select formControlName="Carrera" [ngModel]="carreraActual" (ngModelChange)="onChangeCarrera($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let carrera of carreras" [value]="carrera">{{carrera}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Numero de Matricula</mat-label>
    <input matInput placeholder="2021407001" formControlName="NumeroMatricula" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Correo Electrónico Intitucional</mat-label>
    <input matInput placeholder="usuario@utalca.cl" formControlName="CorreoElectronicoInstitucional" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono de Contacto</mat-label>
    <input matInput placeholder="+569xxxxxxxx" formControlName="NumeroTelefono" required>
  </mat-form-field>
  <hr>
  <div class="step-buttons" *ngIf="getEstadoEtapaActual() === 'ninguno'">
    <div>
      <button mat-raised-button color="primary" type="button" name="Enviar" (click)="sendSolicitud()">Enviar</button>
    </div>
  </div>
  <div class="step-buttons" *ngIf="getEstadoEtapaActual() == 'Pendiente'">
    <mat-label> Su solicitud esta en proceso de revision </mat-label>
  </div>
  <div class="step-buttons" *ngIf="getEstadoEtapaActual() == 'Rechazado'">
    <mat-label> Su solicitud fue rechazada </mat-label>
    <textarea>hola</textarea>
  </div>
  <div class="step-buttons" *ngIf="getEstadoEtapaActual() == 'Aceptado'">
    <mat-label> Su solicitud fue aceptada,<br/>
      por ende  cumples con los requisitos para realizar tu practica  </mat-label>
    <button mat-raised-button matStepperNext color="primary" type="button" disabled>Siguente<mat-icon>navigate_next</mat-icon>
    </button>
  </div>


</form>
