<div class="container">
    <div class="row text-center">
        <h1>¡Bienvenido fulanito mocoso!</h1>
    </div>
    <div class="row mb-3">
        <div class="col mb-3">
            <mat-card style="background-color: rgba(24, 127, 158, 0.082);">
                <mat-card-content>
                    <app-bar-chart></app-bar-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <mat-card style="background-color: rgba(255, 166, 0, 0.568);">
                        <mat-card-header>
                            <mat-card-title style="color: white;">¡Recordatorios!</mat-card-title>
                          </mat-card-header>
                          <hr>
                        <mat-card-content>
                            <div class="row mb-1">
                                <div class="col">
                                    - Proceso de solicitudes termina el <strong>01/01/2022</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    - Periodo de extensión de práctica empieza el <strong>10/01/2020</strong> 
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card style="background-color: rgba(255, 166, 0, 0.568);">
                        <mat-card-header>
                            <mat-card-title style="color: white;">¡Actividades pendientes!</mat-card-title>
                          </mat-card-header>
                          <hr>
                        <mat-card-content>
                            <div class="row mb-1">
                                <div class="col">
                                    - 34 estudiantes han solicitado empezar sus solicitudes de práctica. 
                                    <a href=""> Revisar </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    - 15 estudiantes han solicitado formalmente su práctica. 
                                    <a href=""> Revisar </a>
                                </div>
                            </div>                        
                        </mat-card-content>
                    </mat-card>   
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row mb-3">
        <div class="col">
            <strong>¿Desea ver información asociada a semestres anteriores?</strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Semestre</mat-label>
                <mat-select>
                  <mat-option [value]="123">
                    1º
                  </mat-option>
                  <mat-option [value]="456">
                    2º
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Año</mat-label>
                <mat-select>
                <mat-option [value]="456">
                    2018
                    </mat-option>
                    <mat-option [value]="456">
                    2019
                    </mat-option>
                  <mat-option [value]="456">
                    2020
                  </mat-option>
                  <mat-option [value]="456">
                    2021
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col pt-2">
            <button mat-raised-button color="primary" style="width: 100%;">Ver</button>
        </div>
    </div>
</div>