<mat-card>
	<form [formGroup]="nuevaCuenta">
		<h1>Crear cuenta</h1>
		<mat-form-field appearance="outline">
			<mat-label>Nombres</mat-label>
			<input matInput placeholder="Primer y segundo nombre" formControlName="Nombres" required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Apellidos</mat-label>
			<input matInput placeholder="Apellido paterno y materno" formControlName="Apellidos" required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>RUT</mat-label>
			<input matInput placeholder="RUT" formControlName="Run" required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Correo institucional</mat-label>
			<input matInput type="email" placeholder="usuario@utalca.cl" formControlName="CorreInstitucional" required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Correo personal</mat-label>
			<input matInput type="email" placeholder="usuario@sitio.cl" formControlName="CorreoPersonal">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Rol</mat-label>
			<mat-select formControlName="Rol" [ngModel]="rolActual" (ngModelChange)="onChangeRol($event)" required>
				<mat-option>None</mat-option>
				<mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Carrera</mat-label>
			<mat-select formControlName="Carrera" [ngModel]="carreraActual" (ngModelChange)="onChangeCarrera($event)" required>
				<mat-option>None</mat-option>
				<mat-option *ngFor="let carrera of carreras" [value]="carrera">{{carrera}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Contraseña</mat-label>
			<input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna1" required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Repita su contraseña</mat-label>
			<input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna2" required>
		</mat-form-field>
		<hr>
		<div>
			<button mat-raised-button color="primary" (click)="crear()">Crear cuenta</button>
		</div>
	</form>
</mat-card>