<div class="container-fluid">
    <div class="row text-center">
        <h1>Crear cuenta</h1>
    </div>
    <div class="row text-center border p-4">
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre encargado</mat-label>
                    <input matInput placeholder="Nombre encargado">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Rut</mat-label>
                    <input matInput placeholder="Rut">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Correo institucional</mat-label>
                    <input matInput type="email" placeholder="correo@institucional.cl">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Elige el rol</mat-label>
                    <mat-select>
                      <mat-option value="option1">Rol 1</mat-option>
                      <mat-option value="option2">Rol 2</mat-option>
                      <mat-option value="option3">Rol 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Elige la carrera</mat-label>
                    <mat-select>
                      <mat-option value="option1">Ing. civil en computación</mat-option>
                      <mat-option value="option2">Ing. civil industrial</mat-option>
                      <mat-option value="option3">Ing. civil en obras civiles</mat-option>
                      <mat-option value="option4">Ing. civil mecatrónica</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Otro</mat-label>
                    <input matInput placeholder="Otro">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña preliminar</mat-label>
                    <input type="password" matInput placeholder="Contraseña preliminar">
                </mat-form-field>                
            </div>
            <div class="row px-3">
                <button mat-raised-button color="primary">Crear</button>
            </div>
        </div>
    </div>
</div>