<mat-card>
	<form [formGroup]="nuevaCuenta">
		<h1>Crear cuenta</h1>
		<div class="row text-center border p-4">
			<mat-form-field class="example-full-width">
				<mat-label>Nombres encargado</mat-label>
				<input matInput placeholder="Nombres encargado" formControlName="Nombres" required>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Apellidos</mat-label>
				<input matInput placeholder="Apellidos" formControlName="Apellidos" required>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Rut</mat-label>
				<input matInput placeholder="Rut" formControlName="Run" required>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Correo institucional</mat-label>
				<input matInput type="email" placeholder="correo@institucional.cl" formControlName="CorreInstitucional" required>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Correo Personal</mat-label>
				<input matInput type="email" placeholder="correo@institucional.cl" formControlName="CorreoPersonal">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Elige el rol</mat-label>
				<mat-select formControlName="Rol" [ngModel]="rolActual" (ngModelChange)="onChangeRol($event)">
					<mat-option>None</mat-option>
					<mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Elige la carrera</mat-label>
				<mat-select formControlName="Carrera" [ngModel]="carreraActual" (ngModelChange)="onChangeCarrera($event)">
					<mat-option>None</mat-option>
					<mat-option *ngFor="let carrera of carreras" [value]="carrera">{{carrera}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Contraseña</mat-label>
				<input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna1">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Contraseña 2</mat-label>
				<input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna2">
			</mat-form-field>
		</div>
		<button mat-raised-button color="primary" (click)="crear()">Crear</button>
	</form>
</mat-card>