<h1>Crear cuenta de encargado de carrera</h1>

<mat-card>
	<form [formGroup]="primeraEtapa">
		<ng-template matStepLabel>Datos</ng-template>

		<mat-form-field appearance="outline">
			<mat-label>Nombres</mat-label>
			<input matInput placeholder="Primer y segundo nombre" formControlName="Nombres" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Apellidos</mat-label>
			<input matInput placeholder="Apellido paterno y materno" formControlName="Apellidos" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>RUT</mat-label>
			<input matInput placeholder="RUT" formControlName="Run" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Carrera</mat-label>
			<input matInput placeholder="Ingeniería Civil en..." formControlName="Carrera" required>
		</mat-form-field>


		<mat-form-field appearance="outline">
			<mat-label>Correo Electrónico (institucional)</mat-label>
			<input matInput placeholder="usuario@utalca.cl" formControlName="CorreoInstitucional" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Correo Electrónico (personal)</mat-label>
			<input matInput placeholder="usuario@sitio.cl" formControlName="CorreoElectronico">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Rol</mat-label>
			<input matInput formControlName="rol">
		</mat-form-field>

		<hr>

		<button mat-raised-button color="primary" type="button">Crear cuenta</button>

	</form>

</mat-card>