<div class="container p-4" *ngIf="this.solicitudes">
  <div class="row text-center">
    <h1>
      Visualizar prácticas
    </h1>
  </div>
  <div class="row">
    <mat-form-field>
      <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Nombre del alumno" class="search-input"> -->
      <input matInput [formControl]="filtroNombre" placeholder="Nombre del alumno" class="search-input">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Elige un filtro de práctica</mat-label>
        <mat-select (selectionChange)="filtroSelectChange($event.value)">
          <mat-option value="matricula">N° Matrícula</mat-option>
          <mat-option value="situacion">Situación</mat-option>
          <!-- <mat-option value="reprobadas">Reprobadas</mat-option> -->
          <mat-option value="empresa">Empresa</mat-option>
          <mat-option value="sin_filtros">Sin filtros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="filtroNumeroMatriculaSeleccionado">
      <mat-form-field>
        <input matInput [formControl]="filtroNumeroMatricula" placeholder="N° matrícula del estudiante" class="search-input">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="filtroSituacionSeleccionado">
      <mat-form-field appearance="fill">
        <mat-label>Elige la situación</mat-label>
        <mat-select [formControl]="filtroSituacion">
          <mat-option value="pendiente">Pendiente</mat-option>
          <mat-option value="en proceso">En proceso</mat-option>
          <mat-option value="terminada">Terminada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="filtroEmpresaSeleccionado">
      <mat-form-field>
        <input matInput [formControl]="filtroEmpresa" placeholder="Nombre de la empresa" class="search-input">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="overflow-x: scroll;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="min-width: 700px;">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="matricula">
        <th mat-header-cell *matHeaderCellDef> No. Matrícula </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroMatricula}} </td>
      </ng-container>

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEstudiante}} </td>
      </ng-container>

      <!-- apellidos Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoEstudiante}} </td>
      </ng-container>

      <!-- rut Column -->
      <ng-container matColumnDef="rut">
        <th mat-header-cell *matHeaderCellDef> Rut </th>
        <td mat-cell *matCellDef="let element"> {{element.runEstudiante}} </td>
      </ng-container>

      <!-- empresa name Column -->
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
      </ng-container>

      <ng-container matColumnDef="situacion">
        <th mat-header-cell *matHeaderCellDef> Situación </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="openDialog(element)" type="button"> visibility </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7" style="text-align: center; ">No se encontraron resultados.</td>
      </tr>
    </table>
    <mat-paginator [hidden]="!(solicitudes.length != 0)" [pageSizeOptions]="[2, 10, 25, 50, 100]" showFirstLastButtons class="mat-elevation-z8" style="min-width: 700px;"></mat-paginator>
  </div>
</div>