<mat-card>
    <mat-card-title>¿Qué desea visualizar?</mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-radio-group aria-label="Select an option">
                    <div class="row" style="font-size: 12px; height: 10%;">
                        <mat-radio-button value="1" (click)="seleccionarTabla('solicitudes')" [checked]="true"> <label *ngIf="!this.tablaSolicitudSeleccionada">Tabla solicitudes</label> <strong *ngIf="this.tablaSolicitudSeleccionada">Tabla solicitudes</strong> </mat-radio-button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row" style="font-size: 12px; height: 10%;">
                        <mat-radio-button value="2" (click)="seleccionarTabla('inscripciones')"><label *ngIf="!this.tablaIncripcionSeleccionada">Tabla inscripciones</label> <strong *ngIf="this.tablaIncripcionSeleccionada">Tabla solicitudes</strong></mat-radio-button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row" style="font-size: 12px; height: 10%;">
                        <mat-radio-button value="3" (click)="seleccionarTabla('enCurso')"><label *ngIf="!this.tablaEnCursoSeleccionada">Tabla inscripciones</label> <strong *ngIf="this.tablaEnCursoSeleccionada">Tabla solicitudes</strong></mat-radio-button>
                    </div>
                </mat-radio-group>                
            </div>
        </div>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Visualización de prácticas</mat-card-title>
    <mat-card-content>
        <h3><b>Filtros </b></h3>
        <form>
            <mat-form-field appearance="outline">
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Nombre del alumno" class="search-input"> -->
                <input matInput [formControl]="filtroNombre" placeholder="Nombre del alumno" class="search-input">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Elige un filtro de práctica</mat-label>
                <mat-select (selectionChange)="filtroSelectChange($event.value)">
                    <mat-option value="matricula">N° Matrícula</mat-option>
                    <mat-option value="situacion">Situación</mat-option>
                    <mat-option value="empresa">Empresa</mat-option>
                    <mat-option value="sin_filtros">Sin filtros</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="filtroNumeroMatriculaSeleccionado">
                <input matInput [formControl]="filtroNumeroMatricula" placeholder="N° matrícula del estudiante" class="search-input">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="filtroSituacionSeleccionado">
                <mat-label>Elige la situación</mat-label>
                <mat-select [formControl]="filtroSituacion">
                    <mat-option value="pendiente">Pendiente</mat-option>
                    <mat-option value="en proceso">En proceso</mat-option>
                    <mat-option value="terminada">Terminada</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="filtroEmpresaSeleccionado">
                <input matInput [formControl]="filtroEmpresa" placeholder="Nombre de la empresa" class="search-input">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
        <div class="table-visualizer">
            <table mat-table [dataSource]="dataSource" id="tabla">
                <ng-container matColumnDef="matricula">
                    <th mat-header-cell *matHeaderCellDef> No. Matrícula </th>
                    <td mat-cell *matCellDef="let element"> {{element.numeroMatricula}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreEstudiante}} </td>
                </ng-container>
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                    <td mat-cell *matCellDef="let element"> {{element.apellidoEstudiante}} </td>
                </ng-container>
                <ng-container matColumnDef="rut">
                    <th mat-header-cell *matHeaderCellDef> Rut </th>
                    <td mat-cell *matCellDef="let element"> {{element.runEstudiante}} </td>
                </ng-container>
                <ng-container matColumnDef="empresa" *ngIf="!this.tablaSolicitudSeleccionada">
                    <th mat-header-cell *matHeaderCellDef> Empresa </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
                </ng-container>
                <ng-container matColumnDef="situacion">
                    <th mat-header-cell *matHeaderCellDef> Situación </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="table-icon-first" (click)="openDialog(element)" type="button">visibility</mat-icon>
                        <mat-icon class="table-icon" (click)='cambiar_estado(element, "Aceptado")' type="button" *ngIf="!this.tablaEnCursoSeleccionada">check</mat-icon>
                        <mat-icon class="table-icon" (click)='cambiar_estado(element, "Rechazada")' type="button" *ngIf="!this.tablaEnCursoSeleccionada">close</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No se encontraron resultados.</td>
                </tr>
            </table>
            <mat-paginator [hidden]="!(solicitudes.length != 0)" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>