.general
{
    display: block;
    justify-content: center;
    align-items: center
    /* justify-content: center; */
}

.hijo
{
    margin: 0 auto;
    padding: 10vh;
    min-width: 300px;
    max-width: 1080px;
}

.titulo
{
    text-align: center;
}
