<div class="container p-4" *ngIf ="this.solicitudes">
  <div class="row text-center">
      <h1>
          Visualizar prácticas
      </h1>
  </div>
  <div class="row">
      <mat-form-field>
          <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Nombre del alumno" class="search-input"> -->
          <input matInput [formControl]="filtroNombre" placeholder="Nombre del alumno" class="search-input">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Elige un filtro de práctica</mat-label>
          <mat-select (selectionChange)="filtroSelectChange($event.value)">
            <mat-option value="semestre">Semestre</mat-option>
            <mat-option value="situacion">Situación</mat-option>
            <!-- <mat-option value="reprobadas">Reprobadas</mat-option> -->
            <mat-option value="empresa">Empresa</mat-option>
            <mat-option value="sin_filtros">Sin filtros</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="col" *ngIf="filtroSemestreSeleccionado">
      <mat-form-field appearance="fill">
        <mat-label>Elige el semestre</mat-label>
        <mat-select [formControl]="filtroSemestre" (selectionChange)="semestreSelectChange($event.value)">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="filtroSituacionSeleccionado">
      <mat-form-field appearance="fill">
        <mat-label>Elige la situación</mat-label>
        <mat-select [formControl]="filtroSituacion">
          <mat-option value="pendiente">Pendiente</mat-option>
          <mat-option value="en proceso">En proceso</mat-option>
          <mat-option value="terminada">Terminada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>        
    <div class="col" *ngIf="filtroEmpresaSeleccionado">
      <mat-form-field>
        <input matInput [formControl]="filtroEmpresa" placeholder="Nombre de la empresa" class="search-input">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row pb-4">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroMatricula}} </td>
      </ng-container>
    
      <!-- rut Column -->
      <ng-container matColumnDef="rut">
        <th mat-header-cell *matHeaderCellDef> Rut </th>
        <td mat-cell *matCellDef="let element"> {{element.runEstudiante}} </td>
      </ng-container>
    
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEstudiante}} </td>
      </ng-container>
    
      <!-- empresa name Column -->
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
      </ng-container>

      <ng-container matColumnDef="situacion">
        <th mat-header-cell *matHeaderCellDef> Situación </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef> Semestre </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroPractica}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef> Visualizar </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click) = "openDialog(element)" type="button"> visibility </mat-icon> </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron resultados.</td>
      </tr>
    </table>


    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

  </div>
</div>