.step-buttons {
    justify-content: space-between;
}

.lonely-button {
    justify-content: center;
}

.lonely-button,
.step-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    text-align: center;
}