<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="primeraEtapa" errorMessage="Faltan campos por llenar">
    <form [formGroup]="primeraEtapa">
      <ng-template matStepLabel>Datos EStudiante</ng-template>
      <div class="centrar">
        <div class="caja2">
          <div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" formControlName="Nombres" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" formControlName="Apellidos" required>
              </mat-form-field>
            </div>
          </div>


          <div>
            <div class="contenedorInterno">
              <mat-form-field >
                <mat-label>Carrera</mat-label>
                <input matInput placeholder="Ing. Civil" formControlName="Carrera" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field >
                <mat-label>N° de Matricula</mat-label>
                <input matInput placeholder="2020407001" formControlName="NumeroMatricula" required>
              </mat-form-field>
            </div>
          </div>

          <div>
            <mat-form-field>
              <mat-label>RUN</mat-label>
              <input matInput placeholder="RUN" formControlName="Run" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Numero de Contacto</mat-label>
              <input matInput placeholder="+569xxxxxxxx" formControlName="NumeroContacto" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Correo Electronico</mat-label>
              <input matInput placeholder="xxxx@xxxxx.xxxx" formControlName="CorreoElectronico" required>
            </mat-form-field>
          </div>

          <div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Contacto de emergencia </mat-label>
                <input matInput placeholder="Contacto de emergencia " formControlName="ContactoEmergencia" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Telefono de emergencia </mat-label>
                <input matInput placeholder="+569xxxxxxxx" formControlName="TelefonoEmergencia" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="button-div">
        <button mat-button matStepperNext>Siguente</button>
      </div>

    </form>
  </mat-step>

<!-- fin etapa uno --->

  <mat-step [stepControl]="segundaEtapa" errorMessage="Faltan campos por llenar">
    <form [formGroup]="segundaEtapa">
      <ng-template matStepLabel>Datos Empresa</ng-template>
      <div class="centrar">
        <div class="caja2">
          <div>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="SQM " formControlName="Nombre" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>RUT</mat-label>
              <input matInput placeholder=" RUT " formControlName="Rut" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label> Telefono </mat-label>
              <input matInput placeholder="numero de telefono" formControlName="NumeroTelefono" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Correo Electronico</mat-label>
              <input matInput placeholder="Correo" formControlName="CorreoElectronico" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Direccion</mat-label>
              <input matInput placeholder="calle 1, villa 5 de mayo, curico" formControlName="Direccion" required>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="button-div">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguente</button>
      </div>
    </form>
  </mat-step>

<!-- fin etapa 2-->

  <mat-step [stepControl]="terseraEtapa" errorMessage="Faltan campos por llenar">
    <form [formGroup]="terseraEtapa">
      <ng-template matStepLabel>Datos Tutor</ng-template>
      <div class="centrar">
        <div class="caja2">
          <div >
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" formControlName="Nombres" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" formControlName="Apellidos" required>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-form-field>
              <mat-label>RUN</mat-label>
              <input matInput placeholder="RUN" formControlName="Run" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Area/Departamento</mat-label>
              <input matInput placeholder="Soporte Tecnico" formControlName="AreaDepto" required>
            </mat-form-field>
            <p class="textoEplicativo"><small>Area o departamento donde se desempeña el tutor o encargado drecto.</small></p>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Puesto</mat-label>
              <input matInput placeholder="Jefe Tecnico" formControlName="Puesto" required>
            </mat-form-field>
          </div>

          <div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>N° Contacto</mat-label>
                <input matInput placeholder="+569xxxxxxxx" formControlName="NumeroContacto" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="xxxx@xxxxx.xxxx" formControlName="CorreoElectronico" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="button-div">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguente</button>
      </div>
    </form>
  </mat-step>

  <!-- fin etapa 3-->

  <mat-step [stepControl]="cuartaEtapa" errorMessage="Faltan campos por llenar">
    <form [formGroup]="cuartaEtapa">
      <ng-template matStepLabel>Datos Practica</ng-template>
      <div class="centrar">
        <div class="caja2">
          <div>
            <mat-radio-group aria-label="Seleccione una opcion">
              <mat-label>Practica</mat-label><br/>
                <div class="contenedorInterno">
                  <mat-radio-button value="1">Practica 1</mat-radio-button>
                </div>
                <div class="contenedorInterno">
                  <mat-radio-button value="2">Practica 2</mat-radio-button>
                </div>
            </mat-radio-group>
          </div>
          <br/>
          <br/>
          <div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Fecha Inicio</mat-label>
                <input matInput type="date" placeholder=" " formControlName="FechaInicio" required>
              </mat-form-field>
            </div>
           <div class="contenedorInterno">
             <mat-form-field>
               <mat-label>Fecha Termino</mat-label>
               <input matInput type="date" placeholder=" " formControlName="FechaFin" required>
             </mat-form-field>
           </div>
          </div>

          <div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Hora inicio</mat-label>
                <input matInput type="time" placeholder=" " formControlName="HoraInicio" required>
              </mat-form-field>
            </div>
            <div class="contenedorInterno">
              <mat-form-field>
                <mat-label>Hora Fin</mat-label>
                <input matInput type="time" placeholder=" " formControlName="HoraFin" required>
              </mat-form-field>
            </div>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Duracion de la jornada</mat-label>
              <input type="text" matInput placeholder="8" formControlName="Jornada" required>
            </mat-form-field>
          </div>
          <br/>
        </div>
      </div>
      <div class="button-div">
        <label class="negrita">Concentimiento informado para el estudiante en practica.</label>
        <p class="textoEplicativo">Por subir el concentimiento lleno y firmado.</p>
        <input type="file" (change)="onFileChange($event)" placeholder="Archivo1.pdf" formControlName="Archivo" required="">
      </div>
      <div class="button-div">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguente</button>
      </div>
    </form>
  </mat-step>
<!-- fin cuanta etapa -->
  <mat-step>
    <ng-template matStepLabel>Resumen</ng-template>
    <div class="centrar">
      <div class="caja2">
        <p>Formulario terminado</p>
        <div class="button-div">
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button (click)="enviar()">Enviar</button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
