#main {
	margin: 2% 20% 2% 20%;
}

mat-form-field {
	width: 100%;
}

button {
	min-width: 5em;
	box-shadow: none !important;
}

mat-card,
mat-horizontal-stepper {
	box-shadow: none !important;
	border: 2px #B2B2B2B2;
	border-style: solid;
	background-color: #F5F5F5;
	border-radius: 5px;
}

mat-card,
mat-form-field,
button,
hr,
mat-horizontal-stepper {
	text-align: center;
	margin: 0 auto;
}

mat-label,
a,
button,
mat-card-content,
mat-card-actions {
	font-size: medium !important;
}

mat-form-field,
button {
	margin-bottom: -.25em;
}

hr,
mat-card {
	margin-bottom: 1.25em;
}