#main {
    margin: 5rem 0 2rem 0;
    min-height: calc(100vh - 70px);
}

@media only screen and (min-width: 576px) {
    #main {
        margin: 2rem 18vw 2rem 18vw;
    }
}

@media only screen and (min-width: 768px) {
    #main {
        margin: 2rem 20vw 2rem 20vw;
    }
}

@media only screen and (min-width: 992px) {
    #main {
        margin: 2rem 25vw 2rem 25vw;
    }
}

::ng-deep mat-card {
    border-style: solid;
    border-color: #546e7a;
    border-width: .125rem;
    margin: 2rem 0;
}

::ng-deep mat-vertical-stepper {
    border-style: solid;
    border-color: #546e7a;
    border-width: .125rem;
}

::ng-deep mat-form-field {
    display: block !important;
}

::ng-deep button {
    display: block;
    width: 100%;
    margin: .25rem 0 !important;
}

::ng-deep mat-divider {
    position: unset !important;
    margin: 1rem 0 1rem 0 !important;
}

::ng-deep mat-card-title {
    margin-bottom: 1rem !important;
    text-align: center;
}