<mat-card>
    <mat-card-title>Crear carrera</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formularioCarrera">
            <div>
                <h2>Datos de la carrera</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput class="input" formControlName="nombreCarrera" placeholder="Ingeniería Civil en...">
                    <mat-error *ngIf="formularioCarrera.controls.nombreCarrera.hasError('required') && !formularioCarrera.controls.nombreCarrera.hasError('pattern')"> 
                            Campo obligatorio. 
                    </mat-error>
                    <mat-error *ngIf="!formularioCarrera.controls.nombreCarrera.hasError('required') && formularioCarrera.controls.nombreCarrera.hasError('pattern')"> 
                        Toda carrera incluye el nombre "Ingeniería civil" en su comienzo
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <h2>Datos Encargado</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Encargado</mat-label>
                    <input matInput class="inpput" formControlName="nombreEncargado" placeholder="Nombre y apellido del encargado de carrera">
                    <mat-error *ngIf="formularioCarrera.controls.nombreEncargado.hasError('required') && !formularioCarrera.controls.nombreEncargado.hasError('pattern')"> 
                            Campo obligatorio. 
                    </mat-error>
                    <mat-error *ngIf="!formularioCarrera.controls.nombreEncargado.hasError('required') && formularioCarrera.controls.nombreEncargado.hasError('pattern')"> 
                        Todo nombre empieza en mayúscula. Se permite sólo letras (Dos o más).
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput class="inpput" formControlName="correoEncargado" placeholder="usuario@sitio.cl">
                    <mat-error *ngIf="formularioCarrera.controls.correoEncargado.hasError('required') && !formularioCarrera.controls.correoEncargado.hasError('pattern')"> 
                            Campo obligatorio. 
                    </mat-error>
                    <mat-error *ngIf="!formularioCarrera.controls.correoEncargado.hasError('required') && formularioCarrera.controls.correoEncargado.hasError('pattern')"> 
                        Usar sólo minúscula. Corresponde al correo institucional del encargado.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número de teléfono</mat-label>
                    <input matInput class="inpput" formControlName="telefonoEncargado" placeholder="+5612345678">
                    <mat-error *ngIf="formularioCarrera.controls.telefonoEncargado.hasError('required') && !formularioCarrera.controls.telefonoEncargado.hasError('pattern')"> 
                            Campo obligatorio. 
                    </mat-error>
                    <mat-error *ngIf="!formularioCarrera.controls.telefonoEncargado.hasError('required') && formularioCarrera.controls.telefonoEncargado.hasError('pattern')"> 
                        Ejemplo: +56912345678. Tanto el código de Chile (+569) como el largo de 8 dígitos posterior al código es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="step-buttons">
                <button color="primary" mat-raised-button (click)="crearCarrera()">Crear carrera</button>
                <button color="primary" mat-raised-button (click)="volver()">Volver</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>