<div class="main-div">
  <mat-card>
    <mat-card-content>
      <div id="image">
        <img src="../../../assets/logo_practica.png">
      </div>
      <mat-list>
        <mat-list-item id="item">
          <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item id="item">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item id="item">
          <button mat-raised-button color="primary">Entrar</button>
        </mat-list-item>
        <mat-list-item id="item">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </mat-list-item>
        <mat-list-item id="item">
          <button mat-stroked-button>Ingreso tutor/supervisor</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
