.main-div {
    padding: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
}

#recover-password {
  background-color: #a1c9f1;
}

#alt-enter {
  background-color: #a5eea0;
}

#enter {
  background-color: #e56121;
}

button {
  min-width: 200px;
}
