mat-card,
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    min-width: 280px;
    max-width: 280px;
    padding: 20px;
}

button {
    width: 20em;
}

img,
a {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	mat-card {
		margin: 0 32vh 0 32vh;
	}
}

@media only screen and (min-width: 576px) {
	mat-card {
		margin: 0 16vh 0 16vh;
	}

mat-card {
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    text-align: center;
}
  
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 5.5rem;
}