<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Formulario Practica</ng-template>
            <hr>
            <div class="centrarPlantilla">
                <app-plantilla-general></app-plantilla-general>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Subir informe de practica</ng-template>
            <label>Sube tu informe de practica a continuacion</label>
            <hr>
            <input type="file">
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Haz finalizado tu practica</p>
    </mat-step>
</mat-horizontal-stepper>