<mat-card id="first">
    <mat-card-title>¿Deseas empezar un nuevo proceso de práctica?</mat-card-title>
    <p><b>¡Asegúrate de leer la sección de recordatorios antes de empezar!</b></p>
    <button mat-raised-button color="primary" type="submit">Comenzar proceso</button>
</mat-card>
<mat-card>
    <mat-card-title>Recordatorios</mat-card-title>
    <mat-card-content>
        <h2>Requisitos para hacer tu práctica:</h2>
        <ol>
            <li>
                <p>Aprobar curso 1</p>
            </li>
            <li>
                <p>Aprobar curso 2</p>
            </li>
        </ol>
        <p class="centered-text">
            <strong>
				Ten en cuenta que...
			</strong>
        </p>
        <p class="centered-text">
            a la empresa que postules, la persona que será tu tutor(a) debe ser de tu formación académica.
        </p>
        <p class="centered-text">
            <strong>
				Espera a que...
			</strong>
        </p>
        <p class="centered-text">
            el encargado de tu carrera acepte el paso 1 que rellenaste con tus datos personales para hablar con empresas.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content id="dates">
        <div>
            <h1>Fechas importantes</h1>
            <p><b>Fin del proceso de postulación:</b></p>
            <p><strong>{{fecha_seleccionada.getDate()}}/{{fecha_seleccionada.getMonth()+1}}/{{fecha_seleccionada.getFullYear()}}</strong></p>
            <p><b>Fin del plazo de la extensión de práctica:</b></p>
            <p><strong>29/01/2022</strong></p>
        </div>
        <div>
            <mat-calendar [selected]="fecha_seleccionada" disabled></mat-calendar>
            <strong>*</strong>Se indica el plazo más cercano a finalizar
        </div>
    </mat-card-content>
</mat-card>
<mat-card id="last-activities">
    <mat-card-title>Últimas actividades</mat-card-title>
    <mat-card-content>
        <p>Ha enviado satisfactoriamente una solicitud para comenzar ha solicitar su práctica profesional.</p>
        <p>Se está procesando tu solicitud de:</p>
        <p><b>¡Tú solicitud ha sido aprobada!, puedes continuar con el siguiente paso:</b></p>
        <button mat-raised-button color="primary" type="submit">Ir a etapa</button>
    </mat-card-content>
</mat-card>
