<mat-card>
    <mat-card-title>¿Deseas empezar un nuevo proceso de práctica?</mat-card-title>
    <p>Asegurate de leer la sección de recordatorios antes de empezar</p>
    <button mat-raised-button color="primary" type="submit">Comenzar proceso</button>
</mat-card>
<mat-card>
    <mat-card-title>Recordatorios</mat-card-title>
    <h2>
        ¿Requisitos para hacer la práctica?
    </h2>
    <mat-card-content>
        1.- Aprobar curso 1
    </mat-card-content>
    <mat-card-content>
        2.- Aprobar curso 2
    </mat-card-content>
    <h2>
        Ten en cuenta que...
    </h2>
    <mat-card-content>
        a la empresa que postules, La persona que será tu tutor(a) debe ser de tu formación académica
    </mat-card-content>
    <h2>
        Espera a que...
    </h2>
    <mat-card-content>
        el encargado de tu carrera acepte el paso 1 que rellenaste con tus datos personales para hablar con empresas
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Fechas importantes</mat-card-title>
    <mat-card-content>
        <p>{{fecha_seleccionada.getDate()}}/{{fecha_seleccionada.getMonth()+1}}/{{fecha_seleccionada.getFullYear()}}</p>
        <p>Fin proceso</p>
    </mat-card-content>
    <mat-card-content>
        <p>29/01/2022</p>
        <p>Fin plazo de extensión de práctica</p>
    </mat-card-content>
    <mat-card-content>
        <mat-calendar [selected]="fecha_seleccionada" disabled></mat-calendar>
        *Se indica el plazo más cercano a finalizar
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Últimas actividades</mat-card-title>
    <mat-card-content>
        Ha enviado satisfactoriamente una solicitud para comenzar ha solicitar su práctica profesional
    </mat-card-content>
    <mat-card-content>
        Se está procesando tu solicitud de:
    </mat-card-content>
    <mat-card-content>
        Tú solicitud ha sido aprobada, puedes continuar con el siguiente paso.
        <button mat-raised-button color="primary" type="submit">Ir a etapa</button>
    </mat-card-content>
</mat-card>