<mat-card>
    <mat-card-title>Crear cuenta de administrador general</mat-card-title>
    <mat-card-content>
        <form [formGroup]="nuevoAdminGenerl">
            <ng-template matStepLabel>Datos</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Primer y segundo nombre" formControlName="Nombres" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellido paterno y materno" formControlName="Apellidos" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RUT</mat-label>
                <input matInput placeholder="RUT" formControlName="Run" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico (institucional)</mat-label>
                <input matInput placeholder="usuario@utalca.cl" formControlName="CorreoInstitucional" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico (personal)</mat-label>
                <input matInput placeholder="usuario@dominio.cl" formControlName="CorreoElectronico">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="+5601234567" formControlName="Telefono" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna1">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Repita su contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña preliminar" formControlName="Contrasenna2">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <input matInput formControlName="rol">
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="submit-button">
                <button mat-raised-button color="primary" type="button" (click)="crear()">Crear cuenta</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>