#logo {
	background-color: white;
	background-image: url(../../../assets/logo_practica.png);
	background-repeat: no-repeat;
	background-position: center !important;
	width: 100%;
	height: 120px;
}

#outer-account {
	display: block;
}

#name-edit {
	display: flex;
}

#outer-account,
#name-edit {
	justify-content: center;
	text-align: center;
}

#avatar-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
	height: 64px;
	width: 64px;
	border: 2px #ffcc80 !important;
	border-style: solid !important;
	border-radius: 50px;
	margin: 0 auto;
}

::ng-deep .mat-list-base {
	padding: 0px !important;
}

mat-sidenav {
	border-radius: 16px;
	background-color: #ffcc80;
	min-width: 25rem;
	margin: 2rem;
	box-shadow: none !important;
}

#outer-account ::ng-deep mat-icon {
	margin-top: 8px;
	margin-left: 5px;
	margin-right: 0px;
}

a ::ng-deep mat-icon {
	margin-right: 16px;
}