<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav style="background-image: linear-gradient(180deg,rgba(255, 175, 83), white);">
        <!-- #30a5ba borrenme -->

        <mat-nav-list>
            <mat-card class="example-card" style="margin: 10px;">
                <img mat-card-image src="../../../assets/logo_practica.png">
            </mat-card>

            <mat-card class="example-card" style="margin: 10px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>¡Bienvenido!</mat-card-title>
                    <mat-card-subtitle>{{user.nombre}} {{user.apellido}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <!-- links de administrador general -->
            <div *ngIf="soyAdminGeneral">
                <a routerLink="./menu-admin-general" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span>Inicio</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./plantilla-general" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>dvr</mat-icon>
                    <span>Plantilla</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./proceso-practica-admin-general" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>sync</mat-icon>
                    <span>Proceso de práctica</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./gestion-usuarios-admin-general" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>supervisor_account</mat-icon>
                    <span>Gestionar usuarios</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./cargar-estudiantes-admin-general" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>attachment</mat-icon>
                    <span>Cargar estudiantes</span>
                </a>
            </div>
            <!-- fin links del administrador general -->

            <!-- inicio links del estudiante -->
            <div *ngIf="soyEstudiante">
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span>Inicio</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>assignment</mat-icon>
                    <span>Solicitar Practica</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>visibility</mat-icon>
                    <span>Ver proceso de practica</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>contact_support</mat-icon>
                    <span>Resumen de practicas</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>av_timer</mat-icon>
                    <span>Petición de extensión</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>edit</mat-icon>
                    <span>Editar información</span>
                </a>
            </div>
            <!-- fin links del estudiante -->
            <!-- inicio links del encargado de carrera -->
            <div *ngIf="soyEncargadoDeCarrera">
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>visibility</mat-icon>
                    <span>Visualizar Prácticas</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>edit</mat-icon>
                    <span>Editar solicitud de práctica</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="./menu-estudiante" mat-list-item (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>edit</mat-icon>
                  <span>Editar proceso de práctica</span>
                </a>
          </div>
            <!-- fin links del encargado de carrera -->
            <mat-divider></mat-divider>
            <a routerLink="./login" mat-list-item (click)="deslogear()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </a>
            <!-- cambio de sidenav -->
            <mat-divider></mat-divider>
            <a mat-list-item (click)="cambiarAdmin()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <span>Administrador General</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="cambiarEstudiante()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <span>Estudiante</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="cambiarEncargadoCarrera()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <span>Encargado de Carrera</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
