<div class="container-fluid border p-4">
    
    <div class="row text-center mb-3">
        <div class="col">
            <img id="img-pageNotFounded" class="img-fluid" src="../../../../assets/PageNotFound.png">
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <h1 class="text-primary"> <strong> Error 404 </strong> </h1>
    </div>
    <div class="row text-center mb-4">
        <label class="text-primary"> La ruta <strong>{{rutaActual}}</strong> no existe! </label>
    </div>
    
    <div class="row text-center text-primary">
        <div class="col">
            <button mat-raised-button color="primary" (click)="back_page()" type="button">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Volver
            </button>
        </div>
    </div>
</div>
