<mat-card>
    <mat-card-title>¡Bienvenido [nombre] [apellido]!</mat-card-title>
    <mat-card-content>
        <p>Existen <b>33</b> solicitudes de práctica pendientes. Si deseas verlas, haz click <a href="#">aquí</a>.</p>
        <p>Existen <b>42</b> solicitudes de encargado/s pendiente/s. <a href="">Ver solicitudes</a>.</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <app-bar-chart></app-bar-chart>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <app-pie-chart></app-pie-chart>
    </mat-card-content>
</mat-card>