<h1 mat-dialog-title>Visualización de prácticas</h1>
<div mat-dialog-content>
    <p><b>Nombres alumno: </b>{{data.nombreEstudiante}}</p>
    <p><b> Apellidos alumno: </b>{{data.apellidoEstudiante}}</p>
    <p><b>RUN: </b>{{data.runEstudiante}}</p>
    <p><b>Carrera: </b> {{data.carreraEstudiante}}</p>
    <p><b>N° Matrícula: </b>{{data.numeroMatricula}}</p>
    <p><b>Correo institucional: </b>{{data.correoEstudiante}}</p>
    <p><b>Contacto: </b>{{data.numeroContactoEstudiante}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Ok</button>
</div>