<h1 mat-dialog-title>Visualización de prácticas</h1>
<div mat-dialog-content>
    <p><b>Nombres alumno: </b>{{data.nombres}}</p>
    <p><b> Apellidos alumno: </b>{{data.apellidos}}</p>
    <p><b>RUN: </b>{{data.run}}</p>
    <p><b>Carrera: </b> {{data.carrera}}</p>
    <p><b>N° Matrícula: </b>{{data.numeroMatricula}}</p>
    <p><b>Correo institucional: </b>{{data.correoInstitucional}}</p>
    <p><b>Contacto: </b>{{data.telefono}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Ok</button>
</div>