#inner {
  padding: 10vh;
  min-width: 300px;
  max-width: 1080px;
  margin: 0 auto;
}
#outer {
  display: block;
  justify-content: center;
}

h1, mat-card {
  text-align: center;
}

#inner > mat-card,  #inner div {
  box-shadow: none !important;
  border: 2px grey;
  border-style: solid;
  background-color: #EEEEEE;
  border-radius: 4px;
}
