<mat-card>
    <mat-card-title>Solicitud e inscripción de práctica</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</mat-card-content>
</mat-card>
<mat-vertical-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Debes solicitar tu práctica">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Solicitud de la práctica</ng-template>
            <div>
                <app-plantilla-general></app-plantilla-general>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Debes subir tu informe de práctica">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Subir informe de práctica</ng-template>
            <div>
                <h3>Por favor, suba el archivo que contiene su informa de práctica</h3>
                <input type="file" placeholder="consentimiento.pdf" required>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <div class="final-info">
            <ng-template matStepLabel>Finalización</ng-template>
            <h1>¡Felicidades! Has completado tu práctica.</h1>
            <mat-icon mat-list-icon>emoji_emotions</mat-icon>
        </div>
    </mat-step>
</mat-vertical-stepper>