.header-with-delete ::ng-deep button {
    background: none !important;
    box-shadow: none !important;
    border-style: none !important;
    height: 2rem !important;
    width: 2rem !important;
    position: absolute !important;
}

.header-with-delete ::ng-deep mat-icon {
    color: #546e7a;
    font-size: 2rem !important;
}

.header-with-delete {
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-end;
}

div {
    margin: 0 auto;
}